<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="MyApp"
           Manufacturer="Milewski"
           Version="$(var.Version)"
           UpgradeCode="12345678-1234-1234-1234-123456789012">

    <MediaTemplate />

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="MyApp" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmp1" Guid="*">
        <File Source="app/hello.txt" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>